.container{
    box-shadow: 1px 1px 4px grey;
    border: 1px solid rgb(201, 195, 195);
    overflow-x: hidden;
}

.summary{
    background-color: rgb(215, 212, 212);
    color: rgb(10, 6, 118);
    border: 1px solid black;
}


.formsdetails pre{
border: 1px solid grey;
padding: 1rem;
border-radius: 10px;
box-shadow: 2px 2px 2px gray;
font-size: 14px;
}
.full-width {
    width: 100%;
  }
  
  .form-container {
    width: 400px; /* Set the desired width for the form container */
    margin: auto; /* Center the form container */
  }
  