<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">            
            <img src="../../../../assets/images/main-img.png" class="img-fluid img1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="header ">
                    <nav class="navbar navbar-expand-sm ms-5 ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <h1 class="h1 fs-1">HireMe Now!</h1>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="nav navbar-nav  text-secondary h5 " >
                                <li class="active "><a href="#">Home</a></li>
                                <li><a href="#">Post A Job</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Feature</a></li>
                            </ul>                
                            <ul class="nav navbar-nav ml-auto text-secondary h4 fw-bold">
                                <li ><a routerLink="/login">Login</a></li>
                                <li><a routerLink="/signup">SignIn</a></li>                        
                            </ul>
                        </div>
                    </nav>
                </div>                
            </div>
        </div>    

      
    </div>

    <div class="row mt-5">
       
        <h2 class="custom-head">The best place <br> To find your <br>Dream company</h2>

        <p class=""> Ideal platform for job seekers passionate about <br>
            startups and seeking new career opportunites</p>


        <div class="mt-5">
            <form action="">  
               <input type="search"  class="custom-form-control border-0 " >  
               <button><div class="explore overlay">Explore</div></button>
              
              </form>
       </div>

       <div class="mt-5">

       </div>
       <div class="mt-5">

       </div>
       <div class="mt-5">

       </div>
       
    </div> -->

<div class="container-fluid">    
<body>
    <header>
        <nav class="user-actions">
            <a href="http://localhost:56067">Employer Login</a>
            <a href="http://localhost:56067/signup">Employer signup</a>
            <a href="#">About</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to HireMe Now!</h1>
            <p>Your gateway to exciting job opportunities.</p>
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="How we can help you.....">
                <span class="left-pan"><i class="fa fa-microphone"></i></span>
            </div>
        </div>
    </section>
</body>
</div>

