<div class="container-fluid mt-5" style="overflow: hidden; overflow-x: hidden; overflow-y:hidden ;">

    <mat-tab-group style="overflow: hidden; overflow-x: hidden; overflow-y:hidden ;">
        <!-- Add company tab -->
        <mat-tab label="Post Jobs">
            <!-- <H2 class=" text-center">ADD COMPANY</H2> -->


            <div class="row flex-lg-row mt-3">
                <div class="col" style="overflow: hidden; overflow-x: hidden; overflow-y:hidden ;">
                    <!-- Company Form -->
                    <form [formGroup]="jobpostForm" (ngSubmit)="jobSubmit()">

                        <div class="row flex-lg-row flex-column">
                            <div class="col">
                                <!-- Legal Name -->
                                <mat-form-field appearance="outline" style="width: 99.5%;" class="mt-2">
                                    <mat-label>Job Title</mat-label>
                                    <input matInput formControlName="jobtitle" type="text" placeholder="Eg. Cognizant">
                                    <mat-icon matSuffix><i class="bi bi-briefcase-fill"></i></mat-icon>
                                    <!-- Legal name required Validation -->
                                    <mat-error *ngIf="jobpostForm.get('jobtitle')?.hasError('required')">job title is
                                        required</mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col ">
                                <!-- Industry -->
                                <mat-form-field appearance="outline" style="width: 99.5%; " class="mt-2">
                                    <mat-label>Industry Name</mat-label>
                                    <input matInput formControlName="industryname" type="text"
                                        placeholder="Eg. Information Technology">
                                    <mat-icon matSuffix><i class="bi bi-building-fill"></i></mat-icon>
                                    <!-- Industry name required Validation -->
                                    <mat-error *ngIf="jobpostForm.get('industryname')?.hasError('required')">Industry is
                                        required</mat-error>

                                </mat-form-field> <br>

                            </div>
                        </div>



                        <!-- Summary -->
                        <mat-form-field appearance="outline" style="width: 99.5%;">
                            <mat-label>Job Summary</mat-label>
                            <textarea matInput formControlName="jobsummary"
                                placeholder="Ex. It makes me feel..."></textarea>
                            <!-- Summary required Validation -->
                            <mat-error *ngIf="jobpostForm.get('jobsummary')?.hasError('required')">Summary is
                                required</mat-error>
                        </mat-form-field>

                        <div class="row flex-lg-row flex-column">
                            <div class="col">
                                <!-- location -->
                                <mat-form-field appearance="outline" style="width: 99.5%;" class="mt-2 ml-lg-1">
                                    <mat-label>Location</mat-label>
                                    <input matInput formControlName="locations" placeholder="Eg. Chennai">
                                    <mat-icon matSuffix><i class="bi bi-geo-alt-fill"></i></mat-icon>
                                    <!-- Webiste required Validation -->
                                    <mat-error *ngIf="jobpostForm.get('location')?.hasError('required')">Location is
                                        required</mat-error>

                                </mat-form-field> <br>

                            </div>

                        </div>
                        <div class="row flex-lg-row flex-column">
                            <div class="col">
                                <!-- location -->
                                <mat-form-field appearance="outline" style="width: 99.5%;" class="mt-2 ml-lg-1">
                                    <mat-label>Job Category/Name</mat-label>
                                    <input matInput formControlName="jobcategory" placeholder="Eg. front-end developer">
                                    <mat-icon matSuffix><i class="bi bi-laptop-fill"></i></mat-icon>
                                    <!-- Webiste required Validation -->
                                    <mat-error *ngIf="jobpostForm.get('jobcategory')?.hasError('required')">Job Category
                                        is required</mat-error>

                                </mat-form-field> <br>

                            </div>

                        </div>

                        <!-- sign up button -->
                        <button mat-raised-button color="accent" class="btn mt-2 mb-4" type="submit"
                            [disabled]="!jobpostForm.valid">Submit</button>
                    </form>
                </div>
            </div>

        </mat-tab>





        <mat-tab label="View Jobs">
            <div>
                <h2 class="text-center"><u>View Jobs</u></h2>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>