<div class="row bg-light">
  <div class="col-md-10 bg-white border rounded m-5 p-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 mx-5" *ngFor="let member of companyMembers">
        <br>
        <h5>
          <b>Company MemberId:</b> {{ member.id }}<br>
          <!-- {{ member.username }}<br>
          {{ member.firstname }}<br>
          {{ member.lastname }}<br> -->
          <b>Company Member Pnone:</b>{{ member.phone }}<br>
          <b>Company Member Email:</b>{{ member.email }}<br>
          <b>Company:</b>{{ member.company }}
        </h5>
        <div class="w3-show-inline-block mt-3">
          <div class="w3-bar">
            <button class="btn custom-color rounded-pill w3-btn w3-teal mx-2" (click)="removeCompanyMember(member.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
