<div class="container col-lg-5">
    <div class="gif mt-2 text-center">
      <img src="../../../../assets/images/3582365.jpg" alt="set-password">
    </div>
    <div class="header text-center text-primary  col-12 p-3">
      <div class="bars">
        <h3>Set Password</h3>
      </div>
  
    </div>
    <div class="content text-center col-12 p-2">
      <p>Please enter your registered email address we will get back to you with the reset password link and
        confirmaion OTP, thank you</p>
    </div>
    <div class="forms text-center col-12 p-2">
  
  
  
     
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Eg. Abc@123">
          <mat-error *ngIf="registrationForm?.get('password')?.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="registrationForm?.get('password')?.hasError('minlength')">
            Password should be at least 8 characters long
          </mat-error>
          <mat-error *ngIf="registrationForm?.get('password')?.hasError('pattern')">
            Password must contain at least one lowercase, one uppercase, one number, and one special character
          </mat-error>
          
        </mat-form-field>
        <p class="text-left" *ngIf="registrationForm.get('password')?.valid" style="color: green;">Password is strong</p>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Eg. Abc@123">
          <mat-error *ngIf="registrationForm?.get('confirmPassword')?.hasError('required')">
            Confirm password is required
          </mat-error>
          <mat-error *ngIf="registrationForm?.hasError('passwordMismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field> -->
      
        <button mat-raised-button color="accent" type="submit" [disabled]="registrationForm.invalid">Submit</button>
      </form>
    </div>
  </div>




