.container{
	border: 1px solid #ccc;
	width:90%;
	margin-top: 5%;
	border-radius: 10px;
	align-items: center;
	box-shadow: 8px 8px 8px rgba(0.4,0.4,0.4,0.22),
	8px 8px 8px rgba(0.4,0.4,0.4,0.24);
}

.gif img{
	height: 40%;
	width:40%;
}
.header{
    
    justify-content: center;
	font-size: 2em;
	align-items: center;
   text-align: center;
}
.bars{
    margin: auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-left: 7px solid dodgerblue ;
    border-right: 7px solid dodgerblue ;
}
.content{
	color: darkgray;
	align-items: center;

}
mat-form-field{
	width: 100%;
}