<div class="row p-2 rounded bg-white m-1 mt-3">

  <div class="col-md-1"></div>
  <div class="col-md-6 p-4 border-bottom border-2  ">
    <h3>Post Job</h3>
  </div>
  <form [formGroup]="addJobForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">

        <div class="form-group p-4">
          <label for="exampleInputEmail1">Job Title</label>
          <input type="email" class="form-control  py-4" formControlName="jobTitle" aria-describedby="emailHelp"
            placeholder="please enter your job Title">
          <div class="error-message"
            *ngIf="addJobForm.controls['jobTitle'].invalid && addJobForm.controls['jobTitle'].touched">
            Job Title is required.
          </div>
        </div>

        <!-- <div class="form-group p-4">
          <label for="exampleInputEmail1">Company Name</label>
          <input type="email" class="form-control  py-4" formControlName="company" aria-describedby="emailHelp"
            placeholder="please enter your company name">
          <div class="error-message"
            *ngIf="addJobForm.controls['companyName'].invalid && addJobForm.controls['companyName'].touched">
            Company Name is required.
          </div>
        </div> -->

        <div class="form-group p-4">
          <label for="exampleInputUsername1">Location</label>
          <select class="form-control" formControlName="locationName">
            <option *ngFor="let location of locationName" [value]="location.id">
              {{ location.name }}
            </option>
          </select>
          <div class="error-message"
            *ngIf="addJobForm.controls['locationName'].invalid && addJobForm.controls['locationName'].touched">
            Location is required.
          </div>
        </div>

        <div class="form-group p-4">
          <label for="IndustryName">IndustryName</label>
          <select class="form-control" formControlName="industryName">
            <option *ngFor="let industry of industryName" [value]="industry.id">
              {{ industry.name }}
            </option>
          </select>
          <div class="error-message"
            *ngIf="addJobForm.controls['industryName'].invalid && addJobForm.controls['industryName'].touched">
            Location is required.
          </div>
        </div>

        <div class="form-group p-4">
          <label for="jobSummary">Job Summary</label>
          <textarea class="form-control py-4" formControlName="jobSummary" id="exampleInputEmail1" placeholder="job description">
          </textarea>
          <div class="error-message"
            *ngIf="addJobForm.controls['jobSummary'].invalid && addJobForm.controls['jobSummary'].touched">
            jobDescription is required.
          </div>
        </div>


      <div class="form-group p-4">
          <label for="exampleInputEmail1">jobCategoryName</label>
          <select class="form-control" formControlName="jobCategoryName">
            <option *ngFor="let category of catogoryName" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
          <div class="error-message"
            *ngIf="addJobForm.controls['jobCategoryName'].invalid && addJobForm.controls['jobCategoryName'].touched">
            Job category is required.
          </div>

        </div> 

        <!-- <div class="form-group p-4">
          <label for="exampleInputUsername1">Salary</label>
          <input type="Username" class="form-control  py-4" id="exampleInputUsername1" formControlName="salary"
            placeholder="Please enter salary">
          <div class="error-message"
            *ngIf="addJobForm.controls['salary'].invalid && addJobForm.controls['salary'].touched">
            Salary is required.
          </div>

        </div> -->

       
        <!-- <div class="form-group p-4">
          <label for="postedByNavigationFirstName">PostedByNavigationFirstName</label>
          <input type="text" class="form-control  py-4" id="postedByNavigationFirstName" formControlName="postedByNavigationFirstName"
            placeholder="please enter workplace">
          <div class="error-message"
            *ngIf="addJobForm.controls['postedByNavigationFirstName'].invalid && addJobForm.controls['postedByNavigationFirstName'].touched">
            PostedByNavigationFirstName
          </div> 

        </div>  -->
       <div class="row">
          <div class="col-md-4 p-4 ms-3 d-inline"><button type="submit" class="btn p-2 text-white px-5"
              style="background-color: #20A6FC;">Post Job</button></div>
      </div>

      </div>
    </div>

  </form>